/*Agregamos tipografías externas*/
@font-face {
    font-family: 'muliregular';
    src: url('../fonts/muli-regular-webfont.eot');
    src: url('../fonts/muli-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/muli-regular-webfont.woff') format('woff'),
         url('../fonts/muli-regular-webfont.ttf') format('truetype'),
         url('../fonts/muli-regular-webfont.svg#muliregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mulilight';
    src: url('../fonts/muli-light-webfont.eot');
    src: url('../fonts/muli-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/muli-light-webfont.woff') format('woff'),
         url('../fonts/muli-light-webfont.ttf') format('truetype'),
         url('../fonts/muli-light-webfont.svg#mulilight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mulilight_italic';
    src: url('../fonts/muli-lightitalic-webfont.eot');
    src: url('../fonts/muli-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/muli-lightitalic-webfont.woff') format('woff'),
         url('../fonts/muli-lightitalic-webfont.ttf') format('truetype'),
         url('../fonts/muli-lightitalic-webfont.svg#mulilight_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'arrows';
    src:url('../fonts/arrows.eot?-vsqfd6');
    src:url('../fonts/arrows.eot?#iefix-vsqfd6') format('embedded-opentype'),
        url('../fonts/arrows.woff?-vsqfd6') format('woff'),
        url('../fonts/arrows.ttf?-vsqfd6') format('truetype'),
        url('../fonts/arrows.svg?-vsqfd6#arrows') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*Se dan de alta las iconfonts*/
[class^="icon-"], [class*=" icon-"] {
    font-family: 'arrows';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*Hace el background se mantenga al 100%*/
body, html{
    min-height: 100%;
}

body{
    background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0, #494342),color-stop(1, #561F09));
    background:-moz-linear-gradient(top, #494342 0%, #561F09 100%) fixed;
    background-image:-o-linear-gradient(bottom, #494342 0%, #561F09 100%) fixed;
    background-image:-webkit-linear-gradient(bottom, #494342 0%, #561F09 100%) fixed;
    background-image:-ms-linear-gradient(bottom, #494342 0%, #561F09 100%) fixed;
    background-image:linear-gradient(to bottom, #494342 0%, #561F09 100%)fixed;
    background-repeat: repeat-x;
    font-family: 'muliregular';
    font-size: 16px;
    width:14700px;
}

h2
{
    color:#ff8515;
    font-family: 'mulilight';
    font-size: 3em;
    font-weight: normal;
    line-height: 30px;
    text-transform: uppercase;
}

h2 span
{
    color:white;
    font-size: .8em;
}

nav
{
    margin: -105px 0 0 32%;
    position: fixed;
    top:100%;
    z-index: 100;
}

nav ul{
    list-style: none;
}

nav ul li{
    background: url(../img/nav_background.png) no-repeat;
    float: left;
    height: 69px;
    overflow: hidden;
    text-align: center;
    vertical-align: top;
    width: 82px;
    transition: 1s;
    -moz-transition: background-image 1s;
}

nav ul li:hover
{
    background: url(../img/nav_background_hover.png) no-repeat;
}

nav ul li a
{
    color:rgba(255,255,255,0.3);
    display: block;
    font-size: .8em;
    height: 100%;
    padding: 38px 0 0 0;
    text-decoration: none;
    -moz-transition: 1s;
    transition: 1s;
}

nav ul li a:hover
{
    color:rgba(255,255,255,1);
}

section
{
    float:left;
    padding: 0 0 0 80px;
    width:2000px;
}

#back_luz{
    background:url(../img/background_luz_1.png) no-repeat, url(../img/background_luz_2.png) no-repeat 6975px;
    height: 860px;
    position: absolute;
    width:14500px;
    z-index: -10;
}

#clientes_cuadro
{
    display: inline-block;
    height: 280px;
    vertical-align: top;
    width:325px;
}

#clientes_cuadro #clientes_lista
{
    background:rgba(255,255,255,.08);
    height: 190px;
    margin: 0 auto;
    width:220px;
}

#clientes_cuadro #clientes_lista ul
{
    color:white;
    list-style: none;
    margin:0;
    padding: 1em;
    text-align: center;
}

#clientes_cuadro #clientes_lista ul li
{
    margin: 0 0 1em 0
}

#clientes_cuadro #contenedor_clientes
{
    display:inline-block;
    margin: 10px 0 0 0;
    vertical-align: top;
    width: 300px;
}

#clientes_cuadro #toggle_clientes
{
    background: url(../img/clientes_boton.png);
    cursor: pointer;
    display: inline-block;
    float: left;
    height: 21px;
    -moz-transition: 1s;
    transition: 1s;
    vertical-align: top;
    width: 21px;
}

#clientes_cuadro #toggle_clientes:hover
{
    background: url(../img/clientes_boton_hover.png);
}

#como_pensamos_cuadro
{
    display: inline-block;
    height: 400px;
    vertical-align: top;
    width:325px;
}

#como_pensamos_cuadro #como_pensamos_texto
{
    background: rgba(0,0,0,.5);
    height: 340px;
    margin: 0 auto;
    width:330px;
}

#como_pensamos_cuadro #como_pensamos_texto p
{
    color:white;
    padding: .5em 1em;
    text-align: center;
}

#como_pensamos_cuadro #contenedor_como_pensamos
{
    margin:0 auto;
    width: 400px;
}

#como_pensamos_cuadro .separador
{
    width:400px;
}

#img_home
{
    margin: 5em 0 0 20em;
}

#nav_cierre_der, #nav_cierre_izq
{   
    width: 22px;
}

#nav_cierre_der
{
    background: url(../img/nav_cierre_der.png);
}

#nav_cierre_izq
{
    background: url(../img/nav_cierre_izq.png);
}

#formulario
{
    display: inline-block;
    vertical-align: top;
    width:350px;
}

#formulario input, #formulario label 
{
    color:white;
    font-size: .8em;
    display: block;
}

#formulario label
{
    font-size: .8em;
    margin: 0 0 .4em 0;
}

#formulario label span
{
    color:#ccc;
    font-size: .8em;
}

#formulario input
{
    font-family: 'muliregular';
    margin: 0 0 .8em 0; 
}

#formulario input, textarea
{
    background: rgba(0,0,0,.3);
    border: none;
    border-radius: 5px;
    padding:5px;
    width: 250px;
}

#formulario input[type="submit"]{
    width:80px;
}

#formulario textarea
{
    color: white;
    font-family: 'muliregular';
    height:120px;
    margin:0 0 8px 0;
}

.contenedor
{
    width:814px;
    height:773px;
}

.contenedor img
{
    position: absolute;
}

.icon-arrow-left:before {
    content: "\e600";
}
.icon-uniE601:before {
    content: "\e601";
}

.ilustracion
{
    display: inline-block;
    padding: 0 0 0 80px;
    position: relative;
    width:800px;
    z-index:-3;
}

.info_seccion
{
    display: inline-block;
    margin: 6em 0 0 0.5em;
    vertical-align: top;
}

.nav_arrow
{
    background: transparent;
    width: 30px;
}

.nav_arrow a
{
    font-size: 1.2em;
}

.nav_arrow:hover
{
    background: transparent;
}

.tabla_galeria
{
    color: white;
    display: inline-block;
    text-align: center;
}
    
.tabla_galeria .boton_mas
{
    background: url(../img/boton_+.png);
    cursor: pointer;
    height:43px;
    -moz-transition:1s;
    transition:1s;   
    width:48px;
}

.tabla_galeria .boton_mas:hover
{
    background: url(../img/boton_+_hover.png);
    height:43px;
    width:48px;
}

.tabla_galeria .boton_mas a
{
    display: block;
    height:43px;
    width:48px;
}

.separador
{
    background:#fff;
    height:1px;
    width:295px;
}

